:root{
    --rob:"Roboto";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #D7D6DC;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    background: #322E41;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 103px;
    height: 38px;
}
.header__logo img{
    width: 70%;
    height: 70%;
}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.header__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-content{
    height: 565px;
    background: url(../images/banner.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__title{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin-bottom: 15px;
}
.header__text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 15px;
}
.header__link{
    padding: 15px;
    color: white;
}
.news{

}

.product{

}

.nike{

}

.design{

}

.footer{

}